<!--suppress TypeScriptUnresolvedVariable -->
<div>
  <div *ngFor="let node of treeNodes; let i = index">
    <div class="tree-node" [draggable]="treeLevel != 0">
      <div class="tree-node-body" [style.padding-left]="paddingLeft()">
        <fa-icon *ngIf="'branch' === node._type"
                 class="tree-node-icon"
                 [icon]="branchIcon(node)"
                 (click)="openNode(node)">
        </fa-icon>
        <span ngbDropdown>
        <span ngbDropdownToggle>{{ node.name }}</span>
          <div ngbDropdownMenu>
            <button ngbDropdownItem>Rename</button>
          </div>
        </span>
      </div>
    </div>
    <app-tree *ngIf="'branch' === node._type"
              [treeNodes]="node.children"
              [treeLevel]="treeLevel + 1">
    </app-tree>
  </div>
</div>
