<!--suppress TypeScriptUnresolvedVariable -->
<div>
  <div *ngFor="let node of treeNodes; let i = index">
    <div class="tree-node" [draggable]="treeLevel != 0">
      <div class="tree-node-body" [style.padding-left]="paddingLeft()">
        <app-node-icon [node]="node"></app-node-icon>
        <app-node-menu [node]="node"></app-node-menu>
      </div>
    </div>
    <app-tree *ngIf="'branch' === node._type && node.settings.open"
              [treeNodes]="node.children"
              [treeLevel]="treeLevel + 1">
    </app-tree>
  </div>
</div>
<ng-template #noNodes>
  <div>
    <button class="btn btn-primary">Add root branch</button>
  </div>
</ng-template>
