<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Peregrinus</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a id="navbarLinks" class="nav-link" ngbDropdownToggle>
          Links
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarLinks">
          <a id="navbarLink1" class="dropdown-item"
             routerLink="/workbench"
             ngbDropdownItem>
            Workbench
          </a>
        </div>
      </li>
    </ul>
    <app-auth></app-auth>
  </div>
</nav>
