<span ngbDropdown>
  <span ngbDropdownToggle>{{ node.name }}</span>
  <div ngbDropdownMenu>
    <button *ngIf="nodeType === 'branch'" (click)="displayAllOnMap()" ngbDropdownItem>
      Display all on map
    </button>
    <button *ngIf="nodeType === 'branch'" (click)="removeAllFromMap()" ngbDropdownItem>
      Remove all from map
    </button>
    <button *ngIf="nodeType === 'feature'" (click)="displayOnMap()" ngbDropdownItem>
      Display on map
    </button>
    <div class="dropdown-divider"></div>
    <button *ngIf="nodeType === 'branch'" ngbDropdownItem>New folder</button>
    <div *ngIf="nodeType === 'branch'" class="dropdown-divider"></div>
    <button ngbDropdownItem>Rename</button>
    <button ngbDropdownItem>Copy</button>
    <button ngbDropdownItem>Move</button>
    <button *ngIf="nodeType === 'branch'" ngbDropdownItem>Paste</button>
    <button ngbDropdownItem>Delete</button>
  </div>
</span>
